[Unit]
Description=cluster-watchdog: checks docker and kafka services
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/mnt/glusterfs/dtz/src/dtz_watchdog/setup/venv/bin/python /mnt/glusterfs/dtz/src/dtz_watchdog/src/cluster-watchdog.py --serve-in-foreground
Restart=always

[Install]
WantedBy=multi-user.target
